@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem);

.gallery {
    width: 100%;
    min-height: 250vh;
    background-color: var(--main-dark-clr);
    overflow: hidden;
    .gallery-grid {
        --gap: 2rem;
        --grid-hight: 150vh;
        width: 100%;
        height: var(--grid-hight);
        padding: var(--gap) 1rem;
        background-color: #060504;
        display: grid;
        grid-gap: var(--gap);
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-flow: dense;
        overflow: hidden;
    }
    .gallery-grid .image:nth-child(1) {
        margin-top: calc(25vh + var(--grid-hight) / 3.4);
    }
    .gallery-grid .image:nth-child(2) {
        margin-top: calc(25vh + var(--grid-hight) / 1.2);
    }
    .gallery-grid .image:nth-child(3) {
        margin-top: calc(25vh + var(--grid-hight) / 2.9);
    }
    .gallery-grid .image:nth-child(4) {
        margin-top: calc(25svh + var(--grid-hight) / 1.8);
    }
    .gallery-grid .image:nth-child(5) {
        margin-top: calc(25svh + var(--grid-hight) / 2.4);
    }
    .h-stop {
        width: 100%;
        height: 100vh;
        background-color: var(--main-dark-clr);
    }
    .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        backface-visibility: hidden;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            filter: blur(0.5px) grayscale(20%) contrast(120%);
            border-radius: 2px;
        }
    }
}
