@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

/*
    todo: make the hero grid 
    todo: hero main animation styling
    todo: hero elements
        todo: header & button
        todo: the button component with react hot tost library
*/

// main.hero {
//     width: 100vw;
//     height: 100vh;
//     .container {
//         width: 100%;
//         height: 100%;
//         .Gallery {
//             position: absolute;
//             top: 0;
//             left: 50%;
//             transform: translate(-50%, var(--gallery-hight, 0));
//             background-color: var(--main-dark-clr);
//             .Gallery-image {
//                 width: 100vw;
//                 height: 100vh;
//                 margin: 2.5rem;
//                 background-color: var(--main-light-clr);
//                 backface-visibility: hidden;
//                 overflow: hidden;
//                 z-index: 1000;
//                 .image {
//                     width: 100%;
//                     height: 100%;

//                     .blur > div {
//                         canvas {
//                         }
//                     }

//                     img {
//                         width: 100%;
//                         height: 100%;
//                         background-position: center;
//                     }
//                 }
//             }
//             .main-image {
//             }
//         }
//     }
// }

main.hero {
    width: 100vw;
    height: 100vh;
    .container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        .Gallery {
            width: 100vw;
            height: 100vh;
            background-color: var(--main-dark-clr);
            .gallery_image {
                background-color: var(--main-light-clr);
                backface-visibility: hidden;
                overflow: hidden;
                z-index: 1000;
                background-color: black;
                border: 3px solid red;
            }
        }
    }
}

.work {
    width: 100vw;
    height: 300vh;
}
