@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

// todo: copy the hero with a spin of your own

main.hero {
    position: relative;
    .container {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @include flex(r, c, c);
        .Gallery {
            background-color: var(--main-dark-clr);
            .row {
                @include flex(r, c, c);
            }
            .Gallery-image {
                width: 100vw;
                height: 100vh;
                margin: 2.5rem;
                background-color: var(--main-light-clr);
            }
            .main-image {
                // background-color: red;
            }
        }
    }
}

.work {
    width: 100vw;
    height: 200vh;
    // background-color: red;
}
