@use "../global/index" as *;
@use "../util/index" as *;

main.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark-clr);
    .Container {
        @include flex(c, sb, c);
        header {
            width: 100%;
            min-height: 20%;
            @include flex(r, fs, c);
            position: fixed;
            top: 0;
            z-index: 3;
            padding: 0 calc(100% - var(--container-width));
            mix-blend-mode: difference;
            .logo {
                a {
                    img {
                        width: var(--fs-400);
                        filter: blur(#{toRem(0.5px)})
                            drop-shadow(
                                10px 15px 20px
                                    hsla(var(--clr-alpha-tan-200), 0.7)
                            );
                    }
                }
            }
        }
        footer {
            width: 100%;
            min-height: 20%;
            @include flex(r, fe, c);
            position: fixed;
            z-index: 1;
            bottom: 0;
            padding: calc(100% - var(--container-width));
            mix-blend-mode: difference;
            .explore {
                cursor: pointer;
                img {
                    width: var(--fs-400);
                    filter: blur(#{toRem(0.5px)})
                        drop-shadow(
                            10px 15px 20px hsla(var(--clr-alpha-tan-200), 0.7)
                        );
                }
            }
        }
        h1 {
            width: 100%;
            padding: 0 calc(100% - var(--container-width));
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            mix-blend-mode: difference;
            line-height: 1;
            span {
                display: inline-block;
                color: var(--main-light-clr);
                text-transform: uppercase;
                line-height: 1;
                white-space: nowrap;
                margin: 0;
            }
        }
        h1 span:nth-child(1) img {
            width: var(--fs-100);
            position: absolute;
            top: 0;
            right: -1rem;
        }
        h1 span:nth-child(2) {
            width: 100%;
            text-align: right;
        }
    }
}
