@use "../global/index" as *;
@use "../util/index" as *;

// @include flexQueries(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

@media screen and (max-width: #{toEm(2560px)}) {
}
@media screen and (min-width: #{toEm(2560px)}) {
}
// For 4K

@media screen and (max-width: #{toEm(1600px)}) {
}
// For L Monitor

@media screen and (max-width: #{toEm(1440px)}) {
    // .Container {
    // }
}
// For Monitor

@media screen and (max-width: #{toEm(1024px)}) {
    .gallery {
        // --gap: 1rem;
        // --image-hight: 60vh;
        --coll-num: 3;
        .grid {
            :nth-child(4) {
                display: none;
            }
        }
    }
}
@media screen and (min-width: #{toEm(1025px)}) {
}
// For laptop, S-Monitor

@media screen and (max-width: #{toEm(768px)}) {
    .cursor-follower {
        display: none;
    }
    .loader {
        .Container {
            --container-width: calc(100% - 3rem);
        }
    }
    .c-scrollbar {
        display: none;
    }
    .main-header {
        .Container {
            --container-width: 90%;
        }
    }
    .gallery {
        // --gap: 1rem;
        // --image-hight: 60vh;
        --coll-num: 2;
        .grid {
            :nth-child(3) {
                display: none;
            }
        }
    }
}
@media screen and (min-width: #{toEm(769px)}) {
}

@media screen and (max-width: #{toEm(425px)}) {
    h1,
    .h1 {
        font-size: var(--fs-l);
    }
    .loader {
        .loading-spinner {
            --size: 50vw;
        }
    }
    .gallery {
        // --gap: 1rem;
        // --image-hight: 60vh;
        --coll-num: 1;
    }
}

/*For tablets */

// @media screen and (max-width: #{toEm(375px)}) {
// 	.Container {
// 	}
// }
// For S phones
// @media screen and (max-width: #{toEm(320px)}) {
// 	.Container {
// 	}
// }
// For xS phones

@supports (overflow-x: clip) {
    html,
    body {
        overflow-x: clip;
    }
}

// @supports (scroll-snap-points-y: repeat(100vh)) {
// 	html,
// 	html:focus-within {
// 		scroll-snap-points-y: repeat(100vh);
// 	}
// }
@supports (height: 100dvh) {
    main.hero,
    .loader {
        height: 100dvh;
    }
}
@supports (aspect-ratio: 1 / 1) {
}

// put all the animation here if you will use them in css and delete the reduce one
@media (prefers-reduced-motion: no-preference) {
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
