@use "./colors.scss" as *;
@use "../util/index" as *;

// ! font file path is made to match the path from the css file not from the sass file
// ! Rachel => serif
@font-face {
    font-family: "Rachel";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Rachel/Roman.woff2") format("woff2"),
        url("./assets/fonts/Rachel/Roman.woff") format("woff"),
        url("./assets/fonts/Rachel/Roman.ttf") format("truetype");
}
@font-face {
    font-family: "Rachel";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("./assets/fonts/Rachel/italic.woff2") format("woff2"),
        url("./assets/fonts/Rachel/italic.woff") format("woff"),
        url("./assets/fonts/Rachel/italic.ttf") format("truetype");
}
// ! Mosk => sans-serif
@font-face {
    font-family: "Mosk";
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Mosk/Extra-Light_200.woff2") format("woff2"),
        url("./assets/fonts/Mosk/Extra-Light_200.woff") format("woff"),
        url("./assets/fonts/Mosk/Extra-Light_200.ttf") format("truetype");
}
@font-face {
    font-family: "Mosk";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Mosk/normal_400.woff2") format("woff2"),
        url("./assets/fonts/Mosk/normal_400.woff") format("woff"),
        url("./assets/fonts/Mosk/normal_400.ttf") format("truetype");
}
@font-face {
    font-family: "Mosk";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Mosk/Semi-Bold_600.woff2") format("woff2"),
        url("./assets/fonts/Mosk/Semi-Bold_600.woff") format("woff"),
        url("./assets/fonts/Mosk/Semi-Bold_600.ttf") format("truetype");
}
@font-face {
    font-family: "Mosk";
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("./assets/fonts/Mosk/Ultra-Bold_900.woff2") format("woff2"),
        url("./assets/fonts/Mosk/Ultra-Bold_900.woff") format("woff"),
        url("./assets/fonts/Mosk/Ultra-Bold_900.ttf") format("truetype");
}

:root {
    // font families
    --ff-mosk: "Mosk", sans-serif;
    --ff-rachel: "Rachel", serif;

    // font sizes
    --fs-100: #{ClampCalc(18px, 20px)};
    --fs-200: #{ClampCalc(22px, 28px)};
    --fs-300: #{ClampCalc(24px, 32px)};
    --fs-400: #{ClampCalc(32px, 64px)};
    --fs-500: #{ClampCalc(52px, 130px)};
    --fs-600: #{ClampCalc(60px, 190px)};
    --fs-700: #{ClampCalc(72px, 210px)};
    --fs-800: #{ClampCalc(98px, 280px)};
    --fs-900: #{ClampCalc(128px, 300px)};

    --fs-s: var(--fs-100);
    --fs-m: var(--fs-300);
    --fs-l: var(--fs-500);
    --fs-xl: var(--fs-700);
    --fs-xxl: var(--fs-900);

    // font weights
    --fw-l: 200;
    --fw-n: 400;
    --fw-m: 600;
    --fw-b: 900;
}

body {
    font-family: var(--ff-mosk);
}

:where(h1, h2, h3, h4, p, a:not(.Button), .Button, span) {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: #{toRem(4px)};
}
:where(h1, h2, h3, h4, p, span):not(:last-child) {
    margin: 0 0 1rem 0;
}
h1,
.h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-m);
}
h2,
.h2 {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-m);
}
h3,
.h3 {
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}
h4,
.h4 {
    font-size: var(--fs-s);
    font-weight: var(--fw-n);
}
p,
.p {
    font-size: var(--fs-s);
    font-weight: var(--fw-l);
}
.sup-text {
    font-size: var(--fs-200);
    font-weight: var(--fw-n);
}
a:not(.Button) {
    font-size: var(--fs-s);
    font-weight: var(--fw-n);
    text-decoration: none;
}
@for $inti from 1 to 10 {
    $inti: $inti * 100;
    .fs-#{$inti} {
        font-size: var(--fs-#{$inti});
    }
}
.fs-s {
    font-size: var(--fs-100);
}
.fs-m {
    font-size: var(--fs-200);
}
.fs-l {
    font-size: var(--fs-500);
}
.fs-xl {
    font-size: var(--fs-700);
}
.fs-xxl {
    font-size: var(--fs-900);
}
.fw-l {
    font-weight: var(--fw-l);
}
.fw-n {
    font-weight: var(--fw-n);
}
.fw-m {
    font-weight: var(--fw-m);
}
.fw-b {
    font-weight: var(--fw-b);
}
// .link {
//     text-decoration: underline !important;
//     color: var(--accent-clr) !important;
// }
// .link:hover,
// .link:focus {
// }
// .text-gradient {
// 	background: var(--blue);
// 	background: linear-gradient(90deg, var(--blue) 0%, var(--pink) 100%);
// 	background-size: 100%;
// 	-webkit-background-clip: text;
// 	-moz-background-clip: text;
// 	-webkit-text-fill-color: transparent;
// 	-moz-text-fill-color: transparent;
// }
