:root {
  --clr-gray-600: hsl(210, 11%, 15%);
  --clr-gray-300: hsl(210, 11%, 71%);
  --clr-dark-gray: hsl(225, 7%, 12%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-tan: hsl(33, 12%, 83%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-alpha-white: 0 0% 100%;
  --clr-alpha-black: 0 0% 0%;
  --clr-alpha-dark-gray: 225, 7%, 12%;
  --main-dark-clr: var(--clr-dark-gray);
  --main-light-clr: var(--clr-tan);
  --accent-clr: ;
}

main.hero .container .gallery, main.hero .container .gallery .coll, .main-header .header__Container, .main-header .header__Container .header__Logo, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .loader .Container, .old-script,
.no-script {
  display: flex;
}

main.hero .container .gallery, .main-header .header__Container, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .loader .Container, .old-script,
.no-script {
  flex-direction: row;
}

main.hero .container .gallery .coll {
  flex-direction: column;
}

main.hero .container .gallery, main.hero .container .gallery .coll, .main-header .header__Container .header__Logo, .loader .Container, .old-script,
.no-script {
  justify-content: center;
}

.main-header .header__Container, .main-header .header__Container .header__main-navigation ul {
  justify-content: space-between;
}

main.hero .container .gallery, main.hero .container .gallery .coll, .main-header .header__Container, .main-header .header__Container .header__Logo, .main-header .header__Container .header__main-navigation, .main-header .header__Container .header__main-navigation ul, .loader .Container, .old-script,
.no-script {
  align-items: center;
}

/*
Basic system font stacks
Sans-serif
font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
Serif
font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
Mono
font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
*/
@font-face {
  font-family: "Rachel";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Rachel/Roman.woff2") format("woff2"), url("./assets/fonts/Rachel/Roman.woff") format("woff"), url("./assets/fonts/Rachel/Roman.ttf") format("truetype");
}
@font-face {
  font-family: "Rachel";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("./assets/fonts/Rachel/italic.woff2") format("woff2"), url("./assets/fonts/Rachel/italic.woff") format("woff"), url("./assets/fonts/Rachel/italic.ttf") format("truetype");
}
@font-face {
  font-family: "Mosk";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Mosk/Extra-Light_200.woff2") format("woff2"), url("./assets/fonts/Mosk/Extra-Light_200.woff") format("woff"), url("./assets/fonts/Mosk/Extra-Light_200.ttf") format("truetype");
}
@font-face {
  font-family: "Mosk";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Mosk/normal_400.woff2") format("woff2"), url("./assets/fonts/Mosk/normal_400.woff") format("woff"), url("./assets/fonts/Mosk/normal_400.ttf") format("truetype");
}
@font-face {
  font-family: "Mosk";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Mosk/Semi-Bold_600.woff2") format("woff2"), url("./assets/fonts/Mosk/Semi-Bold_600.woff") format("woff"), url("./assets/fonts/Mosk/Semi-Bold_600.ttf") format("truetype");
}
@font-face {
  font-family: "Mosk";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Mosk/Ultra-Bold_900.woff2") format("woff2"), url("./assets/fonts/Mosk/Ultra-Bold_900.woff") format("woff"), url("./assets/fonts/Mosk/Ultra-Bold_900.ttf") format("truetype");
}
:root {
  --ff-mosk: "Mosk", -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;
  --ff-rachel: "Rachel", Iowan Old Style, Apple Garamond, Baskerville,
      Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --fs-100: clamp(1.125rem, 1.0625rem + 0.2083333333vw, 1.25rem);
  --fs-200: clamp(1.375rem, 1.1875rem + 0.625vw, 1.75rem);
  --fs-300: clamp(1.5rem, 1.25rem + 0.8333333333vw, 2rem);
  --fs-400: clamp(2rem, 1rem + 3.3333333333vw, 4rem);
  --fs-500: clamp(3.25rem, 0.8125rem + 8.125vw, 8.125rem);
  --fs-600: clamp(3.75rem, -0.3125rem + 13.5416666667vw, 11.875rem);
  --fs-700: clamp(4.5rem, 0.1875rem + 14.375vw, 13.125rem);
  --fs-800: clamp(6.125rem, 0.4375rem + 18.9583333333vw, 17.5rem);
  --fs-900: clamp(8rem, 2.625rem + 17.9166666667vw, 18.75rem);
  --fs-s: var(--fs-100);
  --fs-m: var(--fs-300);
  --fs-l: var(--fs-500);
  --fs-xl: var(--fs-700);
  --fs-xxl: var(--fs-900);
  --fw-l: 200;
  --fw-n: 400;
  --fw-m: 600;
  --fw-b: 900;
}

body {
  font-family: var(--ff-mosk);
}

:where(h1, h2, h3, h4, p, a:not(.Button), .Button, span) {
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
}

:where(h1, h2, h3, h4, p, span):not(:last-child) {
  margin: 0 0 1rem 0;
}

h1,
.h1 {
  font-size: var(--fs-l);
  font-weight: var(--fw-m);
}

h2,
.h2 {
  font-size: var(--fs-xxl);
  font-weight: var(--fw-m);
}

h3,
.h3 {
  font-size: var(--fs-m);
  font-weight: var(--fw-m);
}

h4,
.h4 {
  font-size: var(--fs-s);
  font-weight: var(--fw-n);
}

p,
.p {
  font-size: var(--fs-s);
  font-weight: var(--fw-l);
}

.sup-text {
  font-size: var(--fs-200);
  font-weight: var(--fw-n);
}

a:not(.Button) {
  font-size: var(--fs-s);
  font-weight: var(--fw-n);
  text-decoration: none;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-s {
  font-size: var(--fs-100);
}

.fs-m {
  font-size: var(--fs-200);
}

.fs-l {
  font-size: var(--fs-500);
}

.fs-xl {
  font-size: var(--fs-700);
}

.fs-xxl {
  font-size: var(--fs-900);
}

.fw-l {
  font-weight: var(--fw-l);
}

.fw-n {
  font-weight: var(--fw-n);
}

.fw-m {
  font-weight: var(--fw-m);
}

.fw-b {
  font-weight: var(--fw-b);
}

:root {
  --border-radius: 0.0625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
html:focus-within {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100%;
}

.Container {
  --container-width: 75%;
  height: 100%;
  width: var(--container-width, 90%);
  margin-inline: auto;
}

li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a,
ul a {
  text-decoration: none;
}

::-moz-focus-inner {
  border: none;
}

:focus {
  outline: 2px solid transparent;
}

.focus {
  --focus-shadow: 0 0 0 transparent;
  --accent-clr: var(--txt-clr);
  box-shadow: var(--focus-shadow), 0 0 0 -0.4em var(--bg-clr), 0 0 0 -0.6em var(--accent-clr);
  transition: box-shadow 400ms cubic-bezier(0.66, -0.2, 0.27, 1.15);
}

.focus:focus-visible {
  outline: 2px solid transparent;
  box-shadow: var(--focus-shadow), 0 0 0 0.25em var(--bg-clr), 0 0 0 0.45em var(--accent-clr);
}

input,
button,
textarea,
a,
select {
  font: inherit;
}

.image .blur > div {
  width: 100% !important;
  height: 100% !important;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: none;
  pointer-events: none;
}

[type=button] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font: inherit;
}

:where(.Button, .inputFiled) {
  min-height: 3.25rem;
  max-height: 3em;
  width: -moz-min-content;
  width: min-content;
  max-width: min(100%, 90vw);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  padding: max(0.4em, 0.4rem) max(2.2em, 2.2rem);
  font-size: var(--fs-s);
  font-weight: var(--fw-b);
  background-color: transparent;
  color: var(--txt-clr);
  border: 2px solid var(--secondary-clr);
  border-radius: var(--border-radius);
  --focus-shadow: inset 0px -0.4rem 0 var(--accent-shadow-clr);
}

.inputFiled {
  outline: 2px solid transparent;
}

.Button:not(:last-child) {
  margin: 0 0 1rem 0;
}

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-light-clr);
  z-index: 1000;
}
.loader .Container {
  --container-width: 50%;
  text-align: center;
}
.loader .Container p {
  margin: 0;
}
.loader .Container .loading-par {
  width: 50%;
  height: 0.4375rem;
  margin: 1rem;
}
.loader .Container .loading-par .skeleton {
  height: 100%;
  width: 100%;
  background-color: hsla(var(--clr-alpha-dark-gray), 0.1);
  border-radius: calc(var(--border-radius) * 2);
}
.loader .Container .loading-par .skeleton span {
  display: block;
  height: 100%;
  box-shadow: 0px 0px 10px 2px hsla(var(--clr-alpha-dark-gray), 0.2);
  width: 0;
  margin: 0;
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--main-dark-clr);
}

.old-script,
.no-script {
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  padding: 0 1rem;
  text-align: center;
  background-color: #1c1e21;
  color: #d9d4ce;
}
.old-script > p,
.no-script > p {
  font-size: 18px;
  color: #d9d4ce;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

.accent-X-clr {
  --accent-clr: var(--accent-X-clr);
  --accent-shadow-clr: var(--clr-teal-blue-500);
}

:root {
  --Header-hight: 5rem;
  --Header-Nav-width: 30em;
  --Header-icon-hight: 5em;
}

.main-header {
  width: 100vw;
  max-height: var(--Header-hight);
  z-index: 100;
  position: relative;
  padding: 0.1rem 0;
}
.main-header .Container {
  --container-width: 60%;
}
.main-header .header__Container .header__Logo {
  width: 100%;
}
.main-header .header__Container .header__Logo a {
  cursor: pointer;
  white-space: nowrap;
  font-size: var(--fs-s);
  color: var(--txt-clr);
}
.main-header .header__Container .header__Logo a img {
  width: var(--fs-500);
}
.main-header .header__Container .mobile-nav-toggle {
  --icon-size: var(--fs-300);
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: var(--icon-size);
  height: var(--icon-size);
  z-index: 1000;
}
.main-header .header__Container .header__main-navigation {
  font-size: var(--fs-s);
  width: var(--Header-Nav-width);
}
.main-header .header__Container .header__main-navigation ul {
  width: 100%;
}
.main-header .header__Container .header__main-navigation ul li a {
  font-size: var(--fs-s);
  color: var(--txt-clr);
  cursor: pointer;
}

/*
    // todo: make the hero grid 
    todo: hero main animation styling
    todo: hero elements
        todo: header & button
        todo: the button component with react hot tost library
*/
main.hero {
  background-color: var(--main-dark-clr);
}
main.hero .container {
  --gap: 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
main.hero .container .gallery {
  --addon-size: 10%;
  width: calc(100% + var(--addon-size));
  height: calc(100% + var(--addon-size));
  position: absolute;
  top: calc(-1 * var(--addon-size));
  left: calc(-1 * var(--addon-size));
  gap: var(--gap);
}
main.hero .container .gallery .coll {
  width: 100%;
  gap: var(--gap);
}
main.hero .container .gallery .coll .image-s {
  --image-hight: 25vh;
}
main.hero .container .gallery .coll .image-m {
  --image-hight: 35vh;
}
main.hero .container .gallery .coll .image-l {
  --image-hight: 40vh;
}
main.hero .container .gallery .coll .image-xl {
  --image-hight: 50vh;
}
main.hero .container .gallery .coll .gallery_image {
  width: 100%;
  height: var(--image-hight, 25vh);
  background-color: var(--main-light-clr);
  border-radius: var(--border-radius);
  backface-visibility: hidden;
}
main.hero .container .gallery .coll .gallery_image .image {
  width: 100%;
  height: 100%;
}
.work {
  width: 100%;
  height: 300vh;
  background-color: rgba(255, 0, 0, 0.235);
}

footer {
  width: 100vw;
}
footer .scroll-Top {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 20, 81);
  background-color: rgb(255, 20, 81);
  color: #fff0e5;
  cursor: pointer;
  line-height: 4.5rem;
  font-size: 2rem;
  text-align: center;
}
footer .scroll-Top p {
  margin: auto;
}
footer .scroll-Top:hover {
  background-color: rgb(255, 20, 81);
  color: #fff0e5;
}
footer .mine {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
footer .mine p {
  margin: 0;
  color: #fff0e5;
}
footer .mine p a {
  text-decoration: underline;
  color: rgb(255, 20, 81);
  font-weight: bold;
}

@media screen and (max-width: 48em) {
  .loader .Container {
    --container-width: calc(100% - 3rem);
  }
  .c-scrollbar {
    display: none;
  }
  .main-header .Container {
    --container-width: 90%;
  }
  header .Container .mobile-nav-toggle[aria-expanded=false] {
    display: block;
    background-image: url(../../../../assets/images/svg/icon-hamburger.svg);
  }
  header .Container .mobile-nav-toggle[aria-expanded=true] {
    display: block;
    background-image: url(../../../../assets/images/svg/icon-close.svg);
  }
  header .Container .main-navigation {
    width: auto;
  }
  header .Container .main-navigation ul[date-visible=true] {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100vh;
    right: 0px;
    background-color: var(--accent-clr);
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 2rem;
    animation-name: navOpen;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 999;
  }
  header .Container .main-navigation ul[date-visible=true] li a {
    color: var(--bg-clr-light);
  }
  @supports ((height: -moz-fit-content) or (height: fit-content)) {
    header .Container .main-navigation ul[date-visible=true] li {
      height: -moz-fit-content;
      height: fit-content;
    }
  }
  @supports not ((height: -moz-fit-content) or (height: fit-content)) {
    header .Container .main-navigation ul[date-visible=true] li {
      height: auto;
    }
  }
  header .Container .main-navigation ul[date-visible=false] {
    display: none;
  }
  @keyframes navOpen {
    to {
      top: 0%;
    }
  }
  .Button,
  .inputFiled {
    width: 100% !important;
  }
  .Button:not(:last-child),
  .inputFiled:not(:last-child) {
    margin: 0 0 1rem 0;
  }
}
/*For tablets */
@supports (height: 100dvh) {
  main.hero,
  .loader {
    height: 100dvh;
  }
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}/*# sourceMappingURL=index.css.map */